.card {
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, .11);
    cursor: pointer;
    padding: 1rem .8rem;
    text-align: start;
    width: 32%;
    border-radius: 8px;
    overflow: hidden;

    img {
        width: 100%;
        height: 200px;
        border-radius: 7px;
        object-fit: cover;
        margin-bottom: 1rem;

        &:hover{
            transform: scale(2);
        }

    }
}