.cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
}

/* ===== Tablet & Mobile ===== */
@media screen and (max-width: 992px) {
    .cards-container {
        flex-direction: column;
        gap: 17px;
        margin: 0 auto;
        width: 90%;
        max-width: 900px;

        align-items: center;
    }
    .card p{
        text-align: start;
    }
}

@media screen and (max-width: 600px) {
    .cards-container {
        flex-direction: column;
        gap: 12px;            

        margin: 0 auto;
        width: 95%;            

        max-width: 100%;       
        padding: 0 5px;         

        align-items: stretch; 
    }

    .cards-container > * {
        width: 100%;          
    }
}