.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
        color: #fff;
        font-size: 3rem;
        font-weight: 800;
    }

    p {
        color: #fff;
        font-size: 1.3rem;
        padding: .5rem 0 2rem;
    }

    button {
        background: #fff;
        border-radius: 6px;
        color: #222;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 1rem 2rem;
        border: none;
    }
}

@media screen and (max-width:992px) {
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}