section h1,
section .subTitle {
    width: max-content;
    margin: 0 auto;
}

section h1 {
    text-align: start;
    font-size: 3rem;
    margin-top: 64px;
}

section .subTitle {
    margin-bottom: 72px;
}

@media (max-width: 992px) {
    section h1 {
        font-size: 25px;
        text-align: center;
        padding: 0 16px;
        width: 100%;
        border: bold;

    }

    section .subTitle {
        padding: 0 24px;
        text-align: center;
                width: 100%;
                margin-top: 20px;
    }
}