.footer {
    background: #111;
    color: #fff;
    padding: 60px 10%;
    margin-top: 50px;
    border-radius: 8px;
    font-family: 'Roboto Flex', sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    margin-top: 40px;
}

.footer-col-brand h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.footer-col-brand p {
    margin-top: 10px;
    color: #ccc;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.footer-col ul li:hover {
    color: #00bcd4;
}

/* أيقونات التواصل */
.icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.icons svg {
    width: 40px;
    height: 40px;
    padding: 5px;
    background: #222;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s, color 0.3s;
}

.icons svg:hover {
    transform: scale(1.2);
    background: #00bcd4;
    color: #111;
}

/* Responsive */
@media (max-width: 768px) {
    .footer {
        padding: 40px 5%;
        text-align: start;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .footer-col h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .footer-col ul li {
        margin-bottom: 8px;
    }

    .footer-col-brand p {
        text-align: start;
    }

    .icons {
        justify-content: start;
    }
}