.contact-form {
    border-radius: 14px;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, .15);
    color: #2a2a2a;
    margin: 6rem auto;
    padding: 3rem 0;
    width: 60%;

    h1 {
        padding-bottom: 3rem;
        text-align: center;
    }

    input,
    textarea {
        display: block;
        width: 60%;
        border: 1px solid #2a2a2a;
        border-radius: .3rem;
        margin-bottom: 2rem;
        padding: 1rem;
        margin: 0 auto;
        height: 3em;
    }

    input {
        padding: 0 1rem;
        margin-bottom: 40px;
    }

    .button {
        border: none;
        border-radius: .3rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        padding: .5rem 1rem;
        transition: all .2s ease-in-out;
        padding: 20px;
        color: #2a2a2a;
        margin-top: 40px;
    }



    p {
        width: max-content;
        margin: 0 auto;

        a {
            color: #2a2a2a;
            text-decoration: none;
        }
    }





}

.button:hover {
    background-color: #2a2a2a;
    color: white;
}


@media screen and (max-width: 992px) {
    .contact-form {
        width: 80%;
        padding: 2.5rem 1rem;
        margin: 4rem auto;
    }

    .contact-form input,
    .contact-form textarea {
        width: 80%;
    }
}